matplotlib==3.5.0
mmcv_full==1.6.0
mmdet==2.25.1
mmrotate.egg==info
numba==0.59.1
numpy==1.21.4
opencv_python==4.6.0.66
pandas==1.4.3
Pillow==8.4.0
prettytable==3.10.0
pycocotools==2.0.4
pynndescent==0.5.12
scikit_learn==1.4.2
seaborn==0.13.2
setuptools==52.0.0.post20210125
terminaltables==3.1.10
torch==1.10.0+cu113
umap==0.1.1
wandb==0.17.0
